:root {
    --dark-background: #1F2937;
    --light-blue: #3882F6;
    --off-white: #f9faf8;
    --light-gray: #E5E7EB;
    --content-padding: 100px;
}

html {
    font-size: 18px;
    font-family: sans-serif;
}

body {
    width: 1020px;
    margin: 0px auto;

}

main {
    background-color: var(--dark-background);
    padding:0px var(--content-padding);
    padding-bottom: 50px;
}

main header {
   display: flex;
   justify-content: space-between;
   color: var(--light-gray);
   
}

main div {
    flex: 1 1 0;
    gap: 20px;
}

main header h2#head-logo {
    display: block;
    color: var(--off-white);
    padding: 0.5rem;
    margin: 0px;
    font-size: 1.1rem;
    margin: 0px;
}

main header nav {
    padding: .5rem;
    margin: 0 0 40px 0;
}

main header nav ul {
    display: flex;
    gap: 1em;
    font-size: 0.8rem;
    margin: 0px;
}

main header nav ul {
    list-style: none;
}

main #hero {
    display: flex;
    flex-direction: row;
}

main #hero div {
    padding: 5px;
    margin: 20px;
    flex: 1 1 50%;
    margin: 0px;
}

main #hero-headline h1 {
    color: var(--off-white);
    margin: 0px;
}

main #hero-headline p {
    color: var(--light-gray);
    font-size: .75rem;
}

main #hero-image {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}   

section#content-highlights {
    height: 300px;
    background-color: var(--off-white);
    padding: 40px var(--content-padding);
    justify-content: space-between;
}

section#content-highlights h1 {
    width: 100%;
    margin: 0px;
    margin-bottom: 25px;
    text-align: center; 
}

section#content-highlights ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 70px;
}

section#content-highlights ul li {
    display: block;
    flex: 1 1 25%;
}

section#content-highlights ul li div {
    aspect-ratio: 1/1;
    width: 100%;
    border: 3px var(--light-blue) solid;
    border-radius: 20px;
}

section#content-highlights ul li p {
    text-align: center;
    font-size: 0.85rem;
}

section#big-quote {
    background-color: var(--light-gray);
    padding: 50px 140px;
}

section#big-quote blockquote {
    font-size: 1.6rem;
    font-style: italic;
    line-height: 2.0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section#big-quote blockquote footer {
    font-size: 1.1rem;
    text-align: right;
    font-style: normal;
    font-weight: 700;
}

section#call-to-action {
    padding: 50px var(--content-padding);
}

section#call-to-action>div {
    display: flex;
    background-color: var(--light-blue);
    padding: 40px;
    border-radius: 20px;
    justify-content: space-around;
    color: var(--off-white);
}

section#call-to-action div>div:first-of-type {
    
}

section#call-to-action div>div:first-of-type h3 {
    font-size: 1.1rem;
    margin: 0px;
}

section#call-to-action div>div:first-of-type p {
    font-size: 0.75rem;
    margin: 5px 0;
    color: var(--light-gray);
} 

section#call-to-action div>div:last-of-type {
    display: flex;
    align-items: center;
}

section#call-to-action div>div:last-of-type .sign-up {
    border: 2px solid var(--off-white);
    margin: 0px;
}

body>footer {
    background-color: var(--dark-background);
    color: var(--off-white);
    font-size: 0.7rem;
}

body>footer p {
    padding: 20px 0px;
    margin: 0px;
    text-align: center;
}

.sign-up {
    font-size: 0.8em;
    background-color: var(--light-blue);
    border-radius: 5px;
    display: inline-block;
    padding: 5px 15px;
    color: var(--off-white);
}